.display-format {
  margin: auto;
  padding: 10px;
}

.display-format button {
  border: 1px solid #0d6efd;
  border-radius: 10%;
  margin: 5px;
  padding: 5px 10px;
  color: #0d6efd;
  background-color: #f3f3f3;
}

.display-format h5 {
  color: var(--text-color);
}

.display-format svg {
  margin-bottom: 3px;
}

.display-format .chosen-format {
  background-color: #0d6efd;
  color: white;
}

@media (min-width: 300px) {
  .display-format {
    margin: 1rem 0 0 2rem;
  }
}
