.current-weather {
  padding: 5px;

  animation: zoomIn;
  animation-duration: 1s;
}
.current-weather .weather {
  width: 100%;
  max-width: 18rem;
  margin: 3rem auto;
}

.current-weather .card-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  background-color: var(--card-background-color);
}

.current-weather .icon {
  background-color: var(--weather-icon);
  border-radius: 50%;
  position: absolute;
  top: -3rem;
}

.current-weather .favorite-icon {
  position: absolute;
  top: 2rem;
  left: 2rem;
  font-size: 20px;
  color: var(--favorite-heart-icon);
}

.current-weather .red {
  color: red;
}

.current-weather .city {
  text-align: center;
  margin-top: 3.5rem;
  color: var(--card-text-color);
}

.current-weather .description {
  color: var(--weather-description-color);
}

.current-weather .degrees {
  color: var(--card-text-color);
  font-size: 40px;
}

.current-weather .degreesFormat {
  margin-bottom: 10px;
}
