.forecast {
  width: 12rem;
}

.forecast .card {
  background-color: var(--card-background-color);

  animation: zoomIn;
  animation-duration: 1s;
}

.forecast .icon {
  background-color: var(--weather-icon);
  border-radius: 50%;
  width: 80px;
}

.forecast .day-name {
  margin-top: 1rem;
}

.forecast .card-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--card-text-color);
}

.forecast .degreesFormat {
  margin-bottom: 4px;
}
