.favorite {
  width: 12rem;
  text-align: center;
}

.favorite .card {
  background-color: var(--card-background-color);
}

.favorite a {
  text-decoration: none;
  color: var(--card-text-color);
}

.favorite .degreesFormat {
  margin-bottom: 5px;
}

.favorite .trash-icon {
  margin: 1rem auto;
  color: var(--trash-icon-color);
  cursor: pointer;
}
